---
export interface Props {
	no: string;
	question: string;
	image: string;
}

const { no, question, image } = Astro.props;
---
<div class="bg-slate-800">
	<div id="question" class="py-5 border border-4 border-white bg-slate-800 text-slate-50 mx-auto w-[80%] px-4 py-2 text-xl font-semibold">
		Graph {no}: {question}
	</div>
	<div id="graph">
		<img src={image} alt="" class="w-[60%] mx-auto my-3">
	</div>
</div>