<div class="w-[50%] mx-auto flex flex-col gap-10 items-center my-32 py-32">
    <h1 class="text-5xl font-semibold text-white">Want a <span class="text-yellow-300">Career</span> in <span class="text-teal-400">Data Science</span>?</h1>
    <h1 class="text-5xl font-semibold text-white">Our <span class="text-orange-500">Site</span> has what you need!</h1>
</div>