<div class="bg-[#F2F2F2] py-10">
    <div class="mx-auto w-[80%] px-4 py-2 text-xl font-semibold text-black">
        <h1 class="text-3xl mb-5">📔 Inferences from the Study</h1>
        <ul class="list-disc">
            <li>You can get into Data Science by doing non traditional Course</li>
            <li>Microsoft, Facebook and Amazon give the maximum salary and are the top companies</li>
            <li>The Maximum acurracy from Random forest is 98%</li>
            <li>It is common to switch jobs after 1-2 years at a company</li>
            <li>San Fransisco and Seattle have the most of data scientiests</li>
        </ul>
    </div>
</div>
