<header>
    <div class="flex py-4 px-2 lg:px-28 bg-[#F2F2F2]">
        <div id="logo" class="flex item-center pt-1">
            <h1 class="text-4xl font-bold">Know Data Science</h1>
        </div>
        <div id="menu" class="flex flex-grow justify-end z-20">
            <ul class="flex space-x-4 items-center text-xl ">
                <li class="hidden lg:block p-3 ">
                    <a href="/PMReady/" class="font-semibold hover:underline decoration-2">Home</a>
                </li>
                <li class="hidden lg:block p-3 ">
                    <a href="/PMReady/graphs" class="font-semibold hover:underline decoration-2">Graphs</a>
                </li>
                <li class="hidden lg:block p-3">
                    <a href="https://colab.research.google.com/drive/1L4MRVVjK60o7oxX69_Q5m0O2nu5G1uVt?usp=sharing" class="font-semibold hover:underline decoration-2">R Notebook</a>
                </li>
                <li class="hidden lg:block p-3">
                    <a href="https://colab.research.google.com/drive/1ZcYKATPL3lIDCgT5d8dlzaB9Gz_0Ihq_?usp=sharing" class="font-semibold hover:underline decoration-2">Python Notebook</a>
                </li>
                <li class="hidden">
                    <a href="#" class="font-semibold hover:underline decoration-2">About</a>
                </li>
            </ul>
        </div>
        <div class="flex items-center ">
            <a href="#">
                <img class="block lg:hidden" src="/PMReady/menu.png" alt="" />
            </a>
            <div class="hidden lg:flex lg:space-x-3 items-center"></div>
        </div>
        
        <div id="user"></div>
    </div>
</header>